<ActionBar title="Questions">
    <ActionItem text="New question" [nsRouterLink]="['/question']"></ActionItem>
</ActionBar>

<StackLayout>
    <StackLayout class="h-90" dock="bottom" flexGrow="1">
        <ListView #listView [items]="questions" class="list-group">
            <div *ngFor="let question of questions">
                <div>
                    <Label [text]="question.body" textWrap="true" class="question-body"></Label>
                    <Label [text]="question.date | date:'medium'" class="question-date"></Label>
                </div>
            </div>
        </ListView>
    </StackLayout>
    <!-- <FlexBoxLayout>
        <Button text="Send" (tap)="onTap()" width="10%" class="btn btn-primary btn-active h-10"></Button>
    </FlexBoxLayout> -->
</StackLayout>
<i class="fas fa-plus"></i>tns
<Label [text]="label" textWrap="true"></Label>